.galleryComp{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(255, 255, 255, 0.984)0% 3%,rgba(255, 255, 255, 0)4% 100%), url('../images/new/frame.png');
    background-size: cover;
    object-fit: cover;
  
}
.galleryOfImage{
}
.overY{
    overflow-y: hidden;
}