.nav_bar{
    /* height: 10vh; */
    z-index: 999999999;
    background-color: white;
    /* background-color: rgb(198, 255, 236); */
    position: fixed;
    top: 0;
    width: 100%;
}

.links{
    margin-left: 50px;
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: black;
}
.Logo{
    max-height: 100px;
}
